.title{
    padding-left:30%;
}
.subtitle{
    font-size:20px;
    padding-left:40%;
}
.image{
    border-radius: 10%;
    margin-left: 40%;
}

table, th, td{
    border: 1px solid black
}

.section1{
    border: 2px solid black;
    background-color: black;
    color: white;
}

.section2{

    border: 3px solid rgb(80, 80, 80);
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;

}